body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #74b9ff, #02090e);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-box h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2d3436;
}

.signup-box form {
    display: flex;
    flex-direction: column;
}

.signup-box input[type="text"],
.signup-box input[type="email"],
.signup-box input[type="password"] {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #dfe6e9;
    transition: border-color 0.3s;
}

.signup-box input[type="text"]:focus,
.signup-box input[type="email"]:focus,
.signup-box input[type="password"]:focus {
    border-color: #0984e3;
    outline: none;
}

.signup-box button[type="submit"] {
    padding: 15px;
    font-size: 18px;
    background-color: #251a02;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-box button[type="submit"]:hover {
    background-color: #74b9ff;
}

.signup-box p {
    margin-top: 20px;
    color: #636e72;
}

.signup-box p a {
    color: #0984e3;
    text-decoration: none;
    transition: color 0.3s;
}

.signup-box p a:hover {
    color: #74b9ff;
}

@media screen and (min-width: 1920px) {
    .signup-container {
        width: 600px;
        padding: 60px;
    }
    .signup-box h1 {
        font-size: 48px;
    }
    .signup-box input[type="text"],
    .signup-box input[type="email"],
    .signup-box input[type="password"] {
        padding: 20px;
        font-size: 20px;
    }
    .signup-box button[type="submit"] {
        padding: 20px;
        font-size: 22px;
    }
}
