kiwisolver==1.4.8
matplotlib==3.10.0
mediapipe==0.10.21
ml-dtypes==0.5.1
moviepy==2.1.2
mpmath==1.3.0
numpy==1.26.4
opt-einsum==3.4.0
packaging==24.2
pandas==2.2.3
pillow==10.4.0
psutil==6.1.1
pyautogui==0.9.54
pycparser==2.22
pygments==2.19.1
pyparsing==2.4.7
pyrealsense2==2.55.1.6486
pywavelets==1.8.0
reportlab==3.6.8
requests==2.25.1
scikit-learn==1.6.1
scipy==1.15.1
sentencepiece==0.2.0
setuptools==59.6.0
six==1.16.0
sounddevice==0.5.1
sympy==1.13.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing-extensions==4.12.2
ultralytics==8.3.70
urllib3==1.26.5
wheel==0.37.1
fpdf==1.7.2
reportlab==3.6.8
