absl-py
kiwisolver
kubernetes
lxml
lz4
matplotlib
mediapipe
ml-dtypes
mmdet
moviepy
mpi4py
mpmath
mypy
numba
numpy
opencv-python
opt-einsum
optax
packaging
pandas
Pillow
platformdirs
ply
pooch
psutil
pyautogui
pycocotools
pycparser
Pygments
pyparsing
pyqtgraph
pyrealsense2
PySide2
PySide6
pytest
pytest-timeout
PyWavelets
pyyaml
redis
regex
reportlab
requests
rich
scikit-image
scikit-learn
scipy
selenium
sentencepiece
setuptools
setuptools-scm
shiboken2
shiboken6
six
sounddevice
sparse
sphinx
sympy
tensorboardX
tensorflow
tensorflow-datasets
tensorflow-hub
tensorflow-serving-api
tensorflowjs
tensorstore
theano
thop
timm
torch
torchvision
tornado
tqdm
typing-extensions
uarray
uharfbuzz
ultralytics
urllib3
web-pdb
werkzeug
wheel
wxPython
yacs
zopfli
zstandard

