<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <h1>AI YOGI</h1>
    <button onclick="location.href='{{ url_for('start') }}'">Start</button>
    <button onclick="location.href='{{ url_for('analyze_posture') }}'">Posture Analysis</button>
    <button onclick="location.href='{{ url_for('analyze_radar') }}'">Radar Analysis</button>
    <button onclick="location.href='{{ url_for('analyze_thermal') }}'">Thermal Analysis</button>
    <button onclick="location.href='{{ url_for('check_thermal') }}'">Check Thermal</button>
    <button onclick="location.href='{{ url_for('check_radar') }}'">Check Radar</button>
    <button onclick="location.href='{{ url_for('check_visual') }}'">Check Visual</button>
    <button onclick="location.href='{{ url_for('exit_app') }}'">Exit</button>
</body>
</html>
