<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radar Analysis</title>
    <link rel="stylesheet" href="/static/analysis.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        Radar Analysis
    </div>
    <div class="content">
        <div class="button-container">
            <form action="/radar_analysis" method="post">
            <button class="analysis-button" onclick="window.location.href='/radar_analysis'">Radar</button>
        </form>
        </div>
    </div>


    <div class="next-button-container">
        <button class="next-button" onclick="window.location.href='/depthanalysis'">NEXT</button>
    </div>
</body>
</html>
