<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensor Checking</title>
    <link rel="stylesheet" href="/static/sensor_check.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        Sensor Checking
    </div>
    
    <div class="button-container">
        <div class="left-buttons">
            <form action="/check_visual1" method="post">
                <button onclick="window.location.href='/check_visual1'">VISUAL CAMERA 1</button>
            </form>
            <form action="/check_visual2" method="post">
            <button onclick="window.location.href='/check_visual2'">VISUAL CAMERA 2</button>
            </form>
        </div>
        <div class="right-buttons">
            <form action="/check_thermal" method="post">
                <button onclick="window.location.href='/check_thermal'">THERMAL CHECK</button>
            </form>
            <form action="/check_radar" method="post">
                <button onclick="window.location.href='/check_radar'">RADAR CHECKING</button>
            </form>
            <form action="/check_depth" method="post">
                <button onclick="window.location.href='/check_depth'">DEPTH CHECKING</button>
            </form>
        </div>
    </div>
<!----
    <div class="check-all-button">
        <form action="/check_all_sensors" method="post">
        <button onclick="window.location.href='/check_all_sensors'">Check All Sensors</button>
    </form>
    </div>
-->
    <form id="nextForm" action="/next" method="post" onsubmit="return submitFormAndRedirect(event)">
        <div class="next-button-container">
            <button type="submit" class="next-button">Next</button>
        </div>
    </form>
    
    <script>
        function submitFormAndRedirect(event) {
            event.preventDefault(); // Prevent the default form submission
    
            const form = document.getElementById('nextForm');
    
            // Use Fetch API to submit the form asynchronously
            fetch(form.action, {
                method: form.method,
                body: new FormData(form)
            })
            .then(response => {
                // Check if the submission was successful
                if (response.ok) {
                    // Redirect to the start meditation page
                    window.location.href = '/start_meditation';
                } else {
                    console.error('Form submission failed.');
                }
            })
            .catch(error => console.error('Error:', error));
    
            // Optionally, if you want to do something immediately (e.g., show a loading indicator), you can add that here
        }
    </script>
    
    
</body>
</html>
